# postgreSQL
POSTGRES_USER=nest_user
POSTGRES_PASSWORD=nest_password
POSTGRES_DB=nest_db
DATABASE_URL=postgresql://nest_user:nest_password@localhost:5432/nest_db?schema=public

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# SMTR (Mailpit)
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_FROM="Nest App <noreply@localhost>"

# JWT secret
JWT_ACCESS_SECRET=replace-with-access-secret
JWT_REFRESH_SECRET=replace-with-refresh-secret

NODE_ENV=environment

# admint credantials
ADMIN_EMAIL=admin_email
ADMIN_PASSWORD=admin_password
